@import '../index.scss';
.teachable-container {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;

  h2{
    font-size: 24pt;
    margin-bottom: 20px;

  }
  .button {
    @include button;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    height: 36px;

  }

  canvas{
    display:block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 250px auto 0 auto;
  }

  .label-container{
    h3{
      margin-top: 20px;
    }
  }
}
