@import '../index.scss';

.about-container{
  // background-image: url('../../../public/about-background.jpg');
  // background-size: 100vw auto;
  // background-position: center;
  // background-color: ie-hex-str($color: #000000);
  background: linear-gradient(hsla(137, 70%, 12%, 0.8), hsla(137, 68%, 52%, 0.8)), url("../../../public/about-background.jpg");
  width: 100%;
  height: calc(100vh - 142px);
  background-size: cover;
  background-position: center;
  overflow: scroll;
  background-repeat: no-repeat;
  position: reltaive;
  justify-content: center;

  .content{
    position: relative;
    text-align: center;
    // overflow: scroll;

    h1{
      color: $color-background;
      margin-bottom: 10px;
      font-size: 40pt;
    }
    h2{
      color: $color-background;
      font-size: 26pt;
      font-weight: 400;
      margin: 0 40px;
    }
    .creator-wrapper{
      margin-top: 10px;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      gap: 30px;
      // height: 300px;
      // border-radius: ;

      .creator{
        display: flex;
        flex-direction: column;
        text-align: center;
        @include card($color-primary);
        height: auto;
        width: auto;
        padding: 28px 28px;

        h3{
          margin-bottom: 10px;
          color: $color-tertiary;
          font-size: 36pt;
          font-weight: 600;

        }
        .headshot{
          width: 250px;
          height: 250px;
          border-radius: 48px;
          margin-bottom: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }

        a{
          @include button;
          text-decoration: none;
          color: $color-tertiary;
          font-weight: 400;
          font-size: 20pt;
          margin-top: 10px;
        }
      }
    }
  }
}

