@import "../index.scss";

.about-container {
  background: url("../../../public/about-background.jpg");
  box-shadow: inset 0 0 0 1000px rgba(26, 26, 26, 0.49);

  width: 100%;
  background-size: cover;
  background-position: center;
  overflow-y: scroll;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  padding-bottom: 20px;

  .content {
    position: relative;
    text-align: center;

    h1 {
      color: white;
      margin-bottom: 10px;
      font-size: 40pt;
    }
    h2 {
      color: rgb(255, 255, 255);
      font-size: 26pt;
      font-weight: 400;
      margin: 0 40px;
    }
    .creator-wrapper {
      margin-top: 30px;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      gap: 30px;

      .creator {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include card($color-primary);
        border-radius: 1rem;
        height: auto;
        width: auto;
        padding: 28px 28px;

        h3 {
          margin-bottom: 20px;
          color: black;
          font-size: 36pt;
          font-weight: 600;
        }
        .headshot {
          width: 300px;
          height: 300px;
          border-radius: 24px;
          margin-bottom: 10px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        a {
          @include button;
          text-decoration: none;
          color: $color-tertiary;
          font-weight: 400;
          font-size: 20pt;
          margin-top: 10px;
        }
      }
    }
  }
}
