@import "../index.scss";

.navbar {
  width: 250px;
  height: 100vh;
  background-color: $color-primary;
  position: fixed;
  top: 0px;
  right: -250px;
  z-index: 2;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  transition: all 0.75s ease;
  text-decoration: none;
  padding-top: 90px;
  padding-left: 30px;
  color: black;

  &.active {
    right: 0;
    text-decoration: none;
  }

  .navbar-content {
    text-align: center;
    margin: 0;
    padding: 0;
    // list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: $color-tertiary;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // li {
    //   margin-bottom: 25px;
    a {
      font-size: inherit;
      color: inherit;
      text-decoration: none;

      a:vistied {
        text-decoration: none;
      }
    }

    //
    // }
  }
}
