@import "../index.scss";

.navbar {
  width: 220px;
  height: 320px;
  background-color: $color-secondary;
  position: fixed;
  top: -320px;
  right: 32px;
  z-index: 2;
  transition: all 0.75s ease;
  text-decoration: none;
  padding: 110px 30px 0 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: $color-background;

  &.active {
    // right: 0;
    top: 0;
    text-decoration: none;
  }

  .navbar-content {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
    letter-spacing: 3.5px;

    &-link {
      display: flex;
      flex-direction: column;
      &:hover span {
        opacity: 1;
      }
      &-underline {
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 300ms ease;
        opacity: 0;
      }
    }
    a {
      font-size: inherit;
      color: inherit;
      text-decoration: none;

      a:vistied {
        text-decoration: none;
      }
    }
  }
}
