$font-content: "Signika Negative", sans-serif;
$font-title: "Signika Negative", sans-serif;
$font-logo: "Signika Negative", sans-serif;

$color-background: #ecf5ff;
$color-primary: #d6e9ff;
$color-primary-hover: #6f9dc8;
$color-secondary: #6a8cb5;
$color-tertiary: #23b54d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-content;
}
