@use '../index.scss';
@import '../index.scss';

.main-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  // min-height: ;

  .single-routine-header {
    text-align: center;
  }

  h2 {
    font-size: 24pt;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-family: $font-title;
    letter-spacing: 2px;
    font-weight: 700;
    color: $color-tertiary;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }

  h3 {
    font-size: 14pt;
    font-family: $font-title;
    font-weight: 400;
  }

  //tier 1
  .landingpage-single {
    width: 100vw;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://htpartners.com/wp-content/uploads/2017/07/iStock_000007946674Small.jpg');
    filter: blur(8px);
    -webkit-filter: blur(2px);
    background-repeat: no-repeat;
    // background-position: 50%;
    background-position-x: 160px;
    background-position-y: 50%;
    background-size: cover;
  }

  .single-routine-container {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    width: 100vw;
    flex-grow: 1;
    // height: auto;

    //background image shadow
    box-shadow: inset 0 0 0 1000px rgba(189, 194, 199, 0.4);
    background-image: url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZW1wdHklMjBkZXNrfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: 120%;
    background-size: cover;
    // border-width: 3px;

    .stretch-preview {
      flex-direction: column;
      display: flex;
      // opacity: 0.95;
      background-color: index.$color-primary;
      text-align: center;
      box-shadow: 10px 8px 0px $color-primary-hover;
      transition-property: box-shadow;
      transition-duration: 0.5s;
      border-radius: 10px;
      @include card($color-primary);
      padding: 20px;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

      * {
        text-decoration: none;
        color: black;
      }

      .add-to-routine {
        outline: 0;
        appearance: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: index.$color-background;
        border: 1px solid rgb(137, 151, 155);
        box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
        color: rgb(61, 79, 88);
        font-size: 14px;
        font-weight: 400;
        font-size: 14px;
        height: 100x;
        margin-top: 5px;
        margin-right: 8px;
        @include button();
      }
    }
  }
  .start-routine-footer {
    display: flex;
    // position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    // height: 10vh;
    // left: 45%;
    align-content: center;
    justify-content: center;

    .warning {
      display: inline-block;
      border: 1px;
      border-radius: 5px;
      background-color: red;
      height: auto;
    }

    .add-to-routine {
      display: inline-block;
      outline: 0;
      appearance: none;
      padding: 0px 12px;
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid rgb(137, 151, 155);
      box-shadow: rgba(125, 146, 161, 0.3) 0px 1px 2px;
      color: rgb(61, 79, 88);
      font-size: 14px;
      font-weight: 400;
      height: 36px;
      margin-top: 10px;
      margin-right: 8px;
      margin-bottom: 10px;
      @include button();
    }
  }

  .tier3 {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 40px;
    height: auto;
    width: 100%;
    padding: 16px 0;
    background-color: lightblue; // padding-top: 50px 0px;
    @include font-content();

    //button
    .addmore {
      @include button();
    }

    //icon
    .challenge {
      height: 40px;
      width: auto;
    }
  }
}
